<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>
  <!-- loader-->
  <link href="css/pace.min.css" rel="stylesheet"/>
  <script src="/js/pace.min.js"></script>
  <!--favicon-->
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <!-- Vector CSS -->
  <link href="/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
  <!-- simplebar CSS-->
  <link href="/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="/css/animate.css" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="/css/icons.css" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="/css/sidebar-menu.css" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="/css/app-style.css" rel="stylesheet"/>
  
</head>

<body class="bg-theme bg-theme1">
 
<!-- Start wrapper-->
 <div id="wrapper">
 
  <!--Start sidebar-wrapper-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
      <a href="/dashboard">
       <img src="/images/logo-icon.png" class="logo-icon" alt="logo icon">
       <h5 class="logo-text">Dashtreme Admin</h5>
     </a>
   </div>
   <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header">MAIN NAVIGATION</li>
      <li>
        <a href="/dashboard">
          <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

<hr>
      <li>
        <a href="/add_user">
          <i class="zmdi zmdi-format-list-bulleted"></i> <span>Add User</span>
        </a>
      </li>

      <li>
        <a href="/view_user">
          <i class="zmdi zmdi-grid"></i> <span> View User</span>
        </a>
      </li>

<hr>
      <li>
        <a href="/movie/add_movie">
          <i class="zmdi zmdi-format-list-bulleted"></i> <span>Add movie</span>
        </a>
      </li>

      <li>
        <a href="/movie/view_movie">
          <i class="zmdi zmdi-grid"></i> <span> View movie</span>
        </a>
      </li>

 <hr>
      <li>
        <a href="/plan/add_plan">
          <i class="zmdi zmdi-format-list-bulleted"></i> <span>Add plan</span>
        </a>
      </li>

      <li>
        <a href="/plan/view_plan">
          <i class="zmdi zmdi-grid"></i> <span> View plan</span>
        </a>
      </li>

<!-- subscription  -->


      <hr>
      <li>
        <a href="/subscription/add_sub">
          <i class="zmdi zmdi-format-list-bulleted"></i> <span>Add subscription</span>
        </a>
      </li>

      <li>
        <a href="/subscription/view_sub">
          <i class="zmdi zmdi-grid"></i> <span> View subscription</span>
        </a>
      </li>

<!-- watchlist  -->

<hr>
<li>
  <a href="/watchlist/add_watchlist">
    <i class="zmdi zmdi-format-list-bulleted"></i> <span>Add Watchlist</span>
  </a>
</li>

<li>
  <a href="/watchlist/view_watchlist">
    <i class="zmdi zmdi-grid"></i> <span> View watchlist</span>
  </a>
</li>


    </ul>
   
   </div>
   <!--End sidebar-wrapper-->

<!--Start topbar header-->
<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javascript:void();">
       <i class="icon-menu menu-icon"></i>
     </a>
    </li>
    <li class="nav-item">
      
    </li>
  </ul>
     
  <ul class="navbar-nav align-items-center right-nav-link">
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-envelope-open-o"></i></a>
    </li>
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();">
      <i class="fa fa-bell-o"></i></a>
    </li>
    <li class="nav-item language">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
      <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
          <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
        </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
        <span class="user-profile"><img src="https://via.placeholder.com/110x110" class="img-circle" alt="user avatar"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li class="dropdown-item user-details">
        <a href="javaScript:void();">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="https://via.placeholder.com/110x110" alt="user avatar"></div>
            <div class="media-body">
              <%if(locals.user){%>
            <a href="/profile/<%= locals.user.id %>">
              <h6 class="mt-2 user-title">
                <%= locals.user.name %></h6>
              <p class="user-subtitle">
                <%= locals.user.email %>
                </p>
            </a>
            <%}%>
            </div>
           </div>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="updatepassword"><i class="icon-lock mr-2"></i>Chang Password</li></a>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="/logout"><i class="icon-power mr-2"></i> Logout</li></a>
      </ul>
    </li>
  </ul>
</nav>
</header>